/odoo
/tutorials/awesome_clicker
/tutorials/awesome_dashboard
/tutorials/awesome_kanban
/tutorials/awesome_gallery
/tutorials/awesome_owl
/tutorials/estate
/tutorials/estate_account
/tutorials/pos_second_uom
/tutorials/website_airproof
